<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="PhotoBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
        <PhotoBox.Properties.Settings>
            <setting name="DefaultPictureFolder" serializeAs="String">
                <value>C:\Users\Jakob\Pictures\PhotoBox</value>
            </setting>
            <setting name="NumberOfPhotosTaken" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FirstCountDownSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="InbetweenCountDownSeconds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ReviewTimeMS" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="BackgroundFile" serializeAs="String">
                <value>C:\Users\Jakob\Downloads\PhotoBox\resources\background.jpg</value>
            </setting>
            <setting name="PrinterFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintoutMarginTop" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PrintoutMarginInbetween" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintedImageX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintedImageY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintedImageWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PrintedImageHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ShowImageViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DropboxPictureFolder" serializeAs="String">
                <value />
            </setting>
        </PhotoBox.Properties.Settings>
    </userSettings>
</configuration>
