<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImageFolderViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <ImageFolderViewer.Properties.Settings>
            <setting name="DefaultPictureFolder" serializeAs="String">
                <value>C:\Users\Jakob\Pictures\PhotoBooth</value>
            </setting>
            <setting name="CountDownRepeat" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ImageDisplayTimeMS" serializeAs="String">
                <value>15000</value>
            </setting>
        </ImageFolderViewer.Properties.Settings>
    </userSettings>
</configuration>
